<h4 *ngIf="page === undefined || page.totalCount == 0">Pas de résultat</h4>
<div *ngIf="page !== undefined && page.totalCount != 0" class="w3-table">
	<table>
		<tr>
			<th>Poste</th>
			<th>Etat</th>
			<th>Etudiant</th>
			<th>Details</th>
		</tr>
		<tr *ngFor="let postulation of page.items">
			<td>{{postulation.annonce.poste}}</td>
			<td *ngIf="postulation.estAccepte">Acceptée</td>
			<td *ngIf="!postulation.estAccepte">Pas encore traitée</td>
			<td>{{postulation.etudiant.user.nom}} {{postulation.etudiant.prenom}}</td>
			<td><a (click)="details(postulation.id)" class="link">Details</a></td>
		</tr>
	</table>
	<button *ngIf="page.pageIndex-1 > 0" (click)="precedent()" id="b1">Precedent</button>
	<p>{{page.pageIndex}}/{{nbPages}}</p>
	<button *ngIf="page.pageIndex+1 <= nbPages" (click)="suivant()" id="b2">Suivant</button>
</div>