<h4 *ngIf="page === undefined || page.totalCount == 0">Pas de résultat</h4>
<div *ngIf="page !== undefined && page.totalCount != 0" class="w3-table">
	<table>
		<tr>
			<th>Poste</th>
			<th>Etat</th>
			<th>Etudiant</th>
			<th>Details</th>
		</tr>
		<tr *ngFor="let postulation of page.items">
			<td>{{postulation.annonce.poste}}</td>
			<td *ngIf="postulation.estAccepte">Acceptée</td>
			<td *ngIf="!postulation.estAccepte">Pas encore traitée</td>
			<td>{{postulation.etudiant.user.nom}} {{postulation.etudiant.prenom}}</td>
			<td><a (click)="details(postulation.id)">Details</a></td>
		</tr>
	</table>
</div>