<form [formGroup]="annonceForm" (ngSubmit)="onSubmit()">
  
	<label>Poste : </label>
	<input type="text" formControlName="poste">
	<div style="color : red;" *ngIf="annonceForm.get('poste').hasError('required') && annonceForm.get('poste').touched">
		il faut un poste
	</div>
	<br><br> 

	<label>Date De début : </label>
	<input type="date" formControlName="dateDebut">
	<div style="color : red;" *ngIf="annonceForm.get('dateDebut').hasError('required') && annonceForm.get('dateDebut').touched">
		il faut une date de début
	</div>
	<br><br>

	<label>Date De fin : </label>
	<input type="date" formControlName="dateFin">
	<div style="color : red;" *ngIf="annonceForm.get('dateFin').hasError('required') && annonceForm.get('dateFin').touched">
		il faut une date de fin
	</div>
	<br><br>

	<label>Paye : </label>
	<input type="number" formControlName="paie">
	<div style="color : red;" *ngIf="annonceForm.get('paie').hasError('required') && annonceForm.get('paie').touched">
		il faut une paye
	</div>
	<br><br>

	<div formGroupName="adresse">	
		<label>Route : </label>
		<input type="text" formControlName="rue">
		<div style="color : red;" *ngIf="annonceForm.get('adresse.rue').hasError('required') && annonceForm.get('adresse.rue').touched">
			il faut une route
		</div>
		<br><br>

		<label>Numero : </label>
		<input type="text" formControlName="numero">
		<div style="color : red;" *ngIf="annonceForm.get('adresse.numero').hasError('required') && annonceForm.get('adresse.numero').touched">
			il faut un numero
		</div>
		<br><br>

		<div formGroupName="localite">
			<label>Code postal : </label>
			<input type="text" formControlName="codePostal">
			<div style="color : red;" *ngIf="annonceForm.get('adresse.localite.codePostal').hasError('required') && annonceForm.get('adresse.localite.codePostal').touched">
				il faut un code postal
			</div>
			<div style="color : red;" *ngIf="annonceForm.get('adresse.localite.codePostal').hasError('pattern') && annonceForm.get('adresse.localite.codePostal').touched">
				code postal non valide
			</div>
			<br><br>

			<label>Nom localite : </label>
			<input type="text" formControlName="nom">
			<div style="color : red;" *ngIf="annonceForm.get('adresse.localite.nom').hasError('required') && annonceForm.get('adresse.localite.nom').touched">
				il faut un nom de localite
			</div>
			<br><br>
		</div>
	</div>



	<label>Langues : </label>
	<select formControlName="langue">
		<option *ngFor="let langue of langues.tags" [value]="langue.nom">
			{{langue.nom}}
		</option>
	</select>
	<br><br>

	<label>Secteur : </label>
	<select formControlName="secteur">
		<option *ngFor="let secteur of secteurs.tags" [value]="secteur.nom">
			{{secteur.nom}}
		</option>
	</select>
	<br><br>

	<button type="submit" [disabled]="!annonceForm.valid">Submit</button>
</form>
