<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

	<label>Ancien mot de passe : </label>
	<input type="password" formControlName="ancienPassword">
	<div style="color : red;" *ngIf="passwordForm.get('ancienPassword').hasError('required') && passwordForm.get('ancienPassword').touched">
		il faut l'ancien mot de passe
	</div>
	<br><br>

	<label>Mot de passe : </label>
	<input type="password" formControlName="password">
	<div style="color : red;" *ngIf="passwordForm.get('password').hasError('required') && passwordForm.get('password').touched">
		il faut un mot de passe
	</div>
	<br><br>

	<label>Confirmation de mot de passe : </label>
		<input type="password" formControlName="confirmationPassword">
		<div style="color : red;" *ngIf="passwordForm.get('confirmationPassword').hasError('required') && passwordForm.get('confirmationPassword').touched">
			il faut confirmer le mot de passe 
		</div>
	<br><br>
		
	<button type="submit" [disabled]="!passwordForm.valid">Submit</button>
</form>