<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-white">
	<img src="../assets/logo.png"  width="50" height="50" id="pictureNavBar">
	<div *ngIf="estEntreprise">
		<a class="navbar-brand" style="color: white;" routerLink="postulation">Jober</a>
	</div>
	<div *ngIf="estAdmin">
		<a class="navbar-brand" style="color: white;" routerLink="signalement/etudiant">Jober</a>
	</div>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
  
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<div *ngIf="estEntreprise">
				<li ngbDropdown class="nav-item dropdown show">
					<a ngbDropdownToggle class="nav-link dropdown-toggle show"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Annonce</a>
					<div ngbDropdownMenu class="dropdown-menu show" aria-labelledby="dropdown01">
						<a class="dropdown-item"  routerLink="/annonceForm">Créer une annonce</a>
						<a class="dropdown-item" routerLink="/mesAnnonces">Lister mes annonces</a>  
					</div>
				</li>
				<li ngbDropdown class="nav-item dropdown show">
					<a ngbDropdownToggle class="nav-link dropdown-toggle show"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Postulation</a>
					<div ngbDropdownMenu class="dropdown-menu show" aria-labelledby="dropdown01">
						<a class="dropdown-item" routerLink="/postulation" >Consulter les postulations</a>
					</div>
				</li>
			</div>
			
			<div *ngIf="estAdmin">
				<li ngbDropdown class="nav-item dropdown show">
					<a ngbDropdownToggle class="nav-link dropdown-toggle show"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Signalement</a>
					<div ngbDropdownMenu class="dropdown-menu show" aria-labelledby="dropdown01">
						<a class="dropdown-item" routerLink="signalement/etudiant">Consulter les signalement d'etudiant</a>
						<a class="dropdown-item" routerLink="signalement/entreprise">Consulter les signalement d'entreprise</a>
					</div>
				</li>
				<li ngbDropdown class="nav-item dropdown show">
					<a ngbDropdownToggle class="nav-link dropdown-toggle show"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrateur</a>
					<div ngbDropdownMenu class="dropdown-menu show" aria-labelledby="dropdown01">
						<a class="dropdown-item" routerLink="administrateurForm">Ajouter un administrateur</a>
					</div>
				</li>
			</div>

			<li ngbDropdown class="nav-item dropdown show">
				<a ngbDropdownToggle class="nav-link dropdown-toggle show"  id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mon compte</a>
				<div ngbDropdownMenu class="dropdown-menu show" aria-labelledby="dropdown01">
					<a class="dropdown-item" (click)="voirProfil()">Voir mes informations</a>
					<a class="dropdown-item" (click)="deconnexion()">Déconnexion</a>
				</div>
			</li>
		</ul>
	</div>
</nav>
  