<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div *ngIf="estEntreprise">
		<a class="navbar-brand" routerLink="postulation">Navbar</a>
	</div>
	<div *ngIf="estAdmin">
		<a class="navbar-brand" routerLink="signalement">Navbar</a>
	</div>
	
	
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<div *ngIf="estEntreprise">
				<li class="nav-item dropdown">
					<div class="dropdown">
						Annonce
						<div class="dropdown-content">
							<a routerLink="annonce">Créer une annonce</a>
							<a routerLink="mesAnnonces">Lister mes annonces</a>
						</div>
					</div>
				</li>
			
				<li class="nav-item dropdown">
					<div class="dropdown">
						<span style="color:#f8f9fa;">
							sss
						</span>
					</div>
				</li>

				<li class="nav-item dropdown">
					<div class="dropdown">
						Postulation
						<div class="dropdown-content">
							<a routerLink="postulation">Consulter les postulations</a>
						</div>
					</div>
				</li>
			</div>


			<div *ngIf="estAdmin">
				<li class="nav-item dropdown">
					<div class="dropdown">
						Administrateur
						<div class="dropdown-content">
							<a (click)="formulaireAdmin(true)">Ajouter un administrateur</a>
						</div>
					</div>
				</li>
			</div>

			<li class="nav-item dropdown">
				<div class="dropdown">
					<span style="color:#f8f9fa;">
						sss
					</span>
				</div>
			</li>

			<li class="nav-item dropdown">
				<div class="dropdown">
					Mon compte
					<div class="dropdown-content">
						<div *ngIf="estAdmin">
							<a (click)="formulaireAdmin(false)">Voir mes informations</a>
						</div>
						<div *ngIf="estEntreprise">
							<a routerLink="entreprise">Voir mes informations</a>
						</div>
						<a (click)="deconnexion()">Déconnexion</a>
					</div>
				</div>
			</li>
		</ul>
	</div>
</nav>
