<p>	Nom : {{etudiant.user.nom}}</p>
<p> Prenom : {{etudiant.prenom}}</p>
<p> Sexe : {{etudiant.sexe}}</p>
<p> Numero de registre national : {{etudiant.registreNational}}</p>
<p> Date d'expiration du badge : {{etudiant.expirationBadge}}</p>
<p> Adresse mail : {{etudiant.user.email}}</p>
<p> Numero de telephone : {{etudiant.user.phoneNumber}}</p>
<app-affichage-adresse [adresse]="etudiant.adresse"></app-affichage-adresse>
<app-affichage-tags *ngIf="etudiant.tags != null" [tags]="etudiant.tags"></app-affichage-tags>